<% include ../partials/header %>
<h1> Admin Index</h1>

<a href="/admin/venue" class="btn btn-lg btn-default">venue</a>
<a href="/admin/membertype" class="btn btn-lg btn-default">membertype</a>
<a href="/admin/payment-method" class="btn btn-lg btn-default">payment method</a>
<a href="/admin/ticket-receiving" class="btn btn-lg btn-default">ticket receiving</a>
<a href="/admin/record-label" class="btn btn-lg btn-default">record label</a>
<a href="/admin/artist" class="btn btn-lg btn-default">artist</a>
<a href="/admin/hall" class="btn btn-lg btn-default">hall</a>
<a href="/admin/promotion" class="btn btn-lg btn-default">promotion</a>
<a href="/admin/concert-index/concert/new" class="btn btn-lg btn-default">concert</a>
<a href="/admin/concert-index/concert/select/edit" class="btn btn-lg btn-default">concert edit</a>
<a href="/admin/concert-index/concert/select/delete" class="btn btn-lg btn-default">concert delete</a>
<a href="/admin/concert-showtime" class="btn btn-lg btn-default">concert showtime</a>
<a href="/admin/concert-artist/select" class="btn btn-lg btn-default">Concert Artist</a>
<a href="/admin/concert-zone" class="btn btn-lg btn-default">Zone</a>

<% include ../partials/footer %>