<% include ../partials/header %>
<h1> Admin Index</h1>

<a href="/admin/venue/new" class="btn btn-lg btn-default">venue</a>
<a href="/admin/member-type/new" class="btn btn-lg btn-default">membertype</a>
<a href="/admin/payment-method/new" class="btn btn-lg btn-default">payment method</a>
<a href="/admin/ticket-receiving/new" class="btn btn-lg btn-default">ticket receiving</a>
<a href="/admin/record-label/new" class="btn btn-lg btn-default">record label</a>
<a href="/admin/artist/new" class="btn btn-lg btn-default">artist</a>
<a href="/admin/promotion/new" class="btn btn-lg btn-default">promotion</a>
<a href="/admin/concert/index" class="btn btn-lg btn-default">concert</a>
<a href="/admin/concert/new" class="btn btn-lg btn-default">new concert</a>
<a href="/admin/concert/select/edit" class="btn btn-lg btn-default">concert edit</a>
<a href="/admin/concert/select/delete" class="btn btn-lg btn-default">concert delete</a>
<a href="/admin/concert-showtime/new" class="btn btn-lg btn-default">concert showtime</a>
<a href="/admin/concert-artist/select" class="btn btn-lg btn-default">Concert Artist</a>
<a href="/admin/concert-zone/new" class="btn btn-lg btn-default">Zone</a>

<% include ../partials/footer %>