<body>

    <!--- Navbar --->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a href="/index" class="navbar-brand">
                <img src="https://image.flaticon.com/icons/svg/1695/1695570.svg" width="60em"
                    class="d-inline-block align-top rounded mx-4">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/concert">Concert <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/venue">Venue</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/artist">Artist</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" href="/promotion">Promotion</a>
                    </li>
                    <li class="nav-item mx-2">
                            <a class="nav-link active" href="/statistic">Statistic</a>
                    </li>
                </ul>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(!isLogin) {%>
            <div class="form-inline">
                   <ul class="navbar-nav mr-auto">
                        <div class="text-right">
                                <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                                    <a class="nav-link active" href="/login" data-target="#ModalExample">Sign in</a>
                                </div>
                            </div>
                            <div class="mx-2">
                                    <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                                        <a href="/register"  class="nav-link active"
                                            data-target="#ModalExample">Register</a>
                                    </div>
                            </div>
                   </ul>
            </div>
            <% } else { %>
                <div class="form-inline">
                        <ul class="navbar-nav mr-auto">
                             <div class="text-right">
                                     <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                                         <a class="nav-link active" href="/logout" data-target="#ModalExample">Sign out</a>
                                     </div>
                                 </div>
                                 <div class="mx-2">
                                         <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
                                             <a href="/profile"  class="nav-link active"
                                                 data-target="#ModalExample">Your Profile</a>
                                         </div>
                                 </div>
                        </ul>
                 </div>
            <% } %>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
