<% include ../partials/userheader %>
    <title>Register</title>
</head>
<% include ../partials/usernav %>



        <!--body part1-->
        <div class="container my-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <h1 class="dispaly-1">Data Analysis</h1>
                </div>

            </div>
            <hr>
            <div class="row mt-5">
                <div class="col-sm-3" id="spy">
                    <ul class="nav nav-pills flex-column ">
                        <li class="nav-item"><a class="nav-link active" href="#scroll1">The Biggest Concer</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll2">Top 5 Concert That Have The Most
                                Booking</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll3">Top 10 Biggest Venue in Thailand</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#scroll4">Top 10 Most Expensive Concert Seat
                                Price</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll5">Most Popular Payment Method</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll6">Record Label That has the Most
                                Artist</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll7">Concert That Has the Most Artist</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#scroll8">Top 10 Most Expensive Booking</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll9">Most Popular Shipping Method</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll10">Artist That Has Most Concert</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll11">Top 5 Members That Have Most
                                Booking</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scroll12">Vanue That Held the Most Concert</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy">
                    <div id="scroll1">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">The Biggest Concert in 2018</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>ConcertName</th>
                                            <th>Artist</th>
                                            <th>Capacity</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll2">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Top 5 Concert That Have Most Booking</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Concert</th>
                                            <th>Number of Booking</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll3">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Top 10 Biggest Venue in Thailand</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>VanueName</th>
                                            <th>Capacity</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll4">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Top 10 Most Expensive Concert Seat Price</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Concert</th>
                                            <th>Artist</th>
                                            <th>Most Expensive Seat Price</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll5">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Most Popular Payment Method</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Payment Method</th>
                                            <th>Number of People Who Choose This Method</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll6">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Record Lebel That Has the Most Artist</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Record Lebel</th>
                                            <th>Number of Artist</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll7">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Concert That Has the Most Artists</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>ConcertName</th>
                                            <th>Number of Artist</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll8">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Top 10 The Most Expensive Booking</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>MemberName</th>
                                            <th>Concert</th>
                                            <th>Price</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll9">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Most Popular Shipping Method</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Shipping Method</th>
                                            <th>Number of Times using Method</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll10">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Artist That Has Most Concert</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>ArtistName</th>
                                            <th>Number of Concert</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll11">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Top 5 Members That Have Most Booking</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Member's Name</th>
                                            <th>Number of Booking</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scroll12">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="">Venue That Held the Most Concert</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <th>Venue's Name</th>
                                            <th>Number of Concerts</th>
                                        </tr>
                                        <tr>
                                            <td><label for=""></label></td>
                                            <td><label for=""></label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <style>
            .nav-pills .nav-link.active,
            .nav-pills .show>.nav-link {
                color: #fff;
                background-color: rgba(43, 43, 43, 0.884);
            }

            a {
                color: rgb(43, 43, 43, 0.884);
            }

            a:hover {
                color: rgb(43, 43, 43, 0.884);
            }

            table {
                width: 100%;
            }

            table,
            tr,
            td,
            th {
                border: 1px solid darkgray;

            }

            .scrollspy-example {
                position: relative;
                height: 700px;
                overflow: auto;
            }

            th {
                text-align: center;
            }

            td {
                text-align: center;
            }

            body {
                position: relative;
            }
        </style>

</body>

</html>