<% include ../../../../partials/header %>
<title>Concert Artist Management</title>
</head>
<% include ../../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col mx-5">
                <h1 class="display-4 mx-5">Add New Concert Artist</h1>
                <hr>
                <form action="/admin/concert-artist/new" method="POST">
                    <div class="form-group row mx-4 my-5">
                        <label for="recordLabelrecieve" class="col-sm-3 col-form-label">Search Concert</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="search">
                        </div>
                        <button class="btn btn-outline-success">Search</button>
                    </div>
            </div>
            </form>

        </div>

        <% if (concert && concert != "none") { %>
        <form action="/admin/concert-artist/new/insert" method="POST">
            <div class="container my-5" id="find">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Concert <b><%= concert.Concert_Name %></b></h2>
                                <input type="hidden" name="concertID" value="<%= concert.Concert_ID %>" >
                            </div>
                            <!--- 3.52AM modify button --->
                            <div class="col-sm-4 mx-auto" style="left: 55px">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add
                                    New</button>
                            </div>
                            <!--- /3.52AM --->
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Artist</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                <select name="dropdown" id="dropdown" class="form-control">
                                    <% artist.forEach(function(item){ %>
                                    <option value="<%= item.Artist_ID %>" > <%= item.Artist_Name %></option>
                                    <% }) %>
                                </select>
                                </td>

                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip"><i
                                            class="material-icons">&#xE03B;</i>
                                        <a class="delete" title="Delete" data-toggle="tooltip" style="margin-left:26px;
                                        margin-top:7px;"><i
                                                class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--- 3.52AM modify button --->
                    <div class="col-3 align-self-end" style="left: 450px">
                        <button class="btn btn-warning text-center align-self mx-3 " type="submit">Edit</button>
                    </div>
                    <!--- /3.52AM --->
                </div>
            </div>
            <% } else if(concert == "none") {%>
            <p> NONE</p>
            <% } %>
    </div>
</div>


<!-- Optional JavaScript -->
<script>
    document.body.className = 'fade';
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        document.body.className = '';
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<!--Tablelist-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .table-wrapper {
        width: 600px;
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
    }

    .table-title .add-new i {
        margin-right: 4px;
    }

    table.table {
        table-layout: fixed;
        
    }

    table.table tr th,
    table.table tr td {
        border-color: #e9e9e9;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

    table.table td a.add {
        color: #27C46B;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 40px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

    table.table .form-control.error {
        border-color: #f50000;
    }

    table.table td .add {
        display: none;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("table td:last-child").html();
        // Append table with add row form on add new button click
        $(".add-new").click(function () {

            var index = $("table tbody tr:last-child").index();

            // Create Dropdown Options //
            var dropdownList = new Array();
            var dropdownID  = new Array();
            var ddl = document.getElementById('dropdown');
            for (i = 0; i < ddl.options.length; i++) {
                dropdownList[i] = ddl.options[i].text;
            }
            for (i = 0; i < ddl.options.length; i++) {
                dropdownID[i] = ddl.options[i].value;
            }
            console.log(dropdownID);
            console.log(dropdownList);
            var option = "";
            dropdownList.forEach(function(item,index){
                var text = '<option value="'+ dropdownID[index]   + '">'  + item + '</option>';
                option = option + text;
            });
            console.log(option);
        
            var row = '<tr>' +
                '<td> <select name="dropdown" class="form-control">' ;  
            
            var row2 = '</select>' +

                '<td>' + actions + '</td>' +
                '</tr>';
            var string = row + option + row2;
            $("table").append(string);
            // Create Dropdown Options //


            //Create and append the options
            
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", ".add", function () {
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    empty = true;
                } else {
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if (!empty) {
                input.each(function () {
                    $(this).parent("td").html($(this).val());
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");
            }
        });
        // Edit row on edit button click
        $(document).on("click", ".edit", function () {
            $(this).parents("tr").find("td:not(:last-child)").each(function () {
                $(this).html('<input type="text" class="form-control" value="' + $(this)
                    .text() + '">');
            });
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        });
    });
</script>

</body>

</html>