<% include ../../../partials/header %>
    <title>Concert</title>
</head>
<% include ../../../partials/nav %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col mx-5">
                <h1 class="display-1">Edit</h1>
                <hr>
                <form action="/admin/promotion/edit" method="POST">
                <div class="form-group row mx-4 my-5">
                    <label for="concertname" class="col-sm-2 col-form-label">Search Concert</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="concertSearch" id="concertname" placeholder="Concert Name">
                    </div>
                    <button type="button" class="btn btn-outline-success">Search</button>
                </div>
                </form>
            </div>

        </div>
        <!--- 3.52AM Form --->
        <% if (concert && concert != "none") { %>
        <form action="/admin/concert/edit?_method=PUT" method="POST">    
            <div class="container mt-5">
                    <div class="form-group row mx-4">
                        
                        <label for="concertname" class="col-sm-2 col-form-label">Promotion Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="concertname" name="name">
                        </div>
                    </div>
                    <div class="form-group row mx-4">
                            <label for="date" class="col-sm-2 col-form-label">Start date</label>
                            <div class="col-sm-5">
                                <input class="form-control" data-date-format="dd/mm/yyyy" id="datepicker" name="startdate">
                            </div>
    
                        </div>
                        <div class="form-group row mx-4">
                                <label for="date" class="col-sm-2 col-form-label">End date</label>
                                <div class="col-sm-5">
                                    <input class="form-control" data-date-format="dd/mm/yyyy" id="datepicker1" name="enddate">
                                </div>
        
                            </div>
                    <div class="form-group row mx-4">
                            <label for="time" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-5">
                                <textarea name="detail" class="form-control" id="" cols="30" rows="5"></textarea>
                            </div>
                    </div>
                    <div class="form-group row mx-4">
                        
                            <label for="concertname" class="col-sm-2 col-form-label">Promotion Discount</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="concertname" name="discount">
                            </div>
                        </div>
                    <div class="form-group row mx-4">
                        <label for="time" class="col-sm-2 col-form-label">Concert</label>
                            <div class="col-5">
                                    <select name="dropdown" id="concert" class="form-control"
                                    data-live-search="true">
                                    <% concert.forEach(function(item){ %>
                                    <option value="<%= concert.Concert_ID %>"> <%= item.Concert_Name %> </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <!--- Poster 3.52AM --->
                        <div class="form-group row  mx-4">
                                <label for="image" class="col-sm-2 col-form-label">Image</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="image" name="image" value="<%= promotion.Promotion_Image">
                                </div>
            
                            </div>
                        <!--- /Poster 3.52AM--->
                <div class="form-group row  mt-auto">
                    <div class="col-6"></div>
                    <div class="col-3 align-self-end" style="right: 115px">
                        <button type="button" class="btn btn-outline-info">Edit</button>
                        <a href="/admin/concert/delete/<%= concert.Concert_ID %>" class="btn btn-outline-danger">Delete</a>
                    </div>

                </div>
            </div>
        </div>
        <% } else if(concert == "none") {%>
            <p> NONE</p>
        <% } %>
    </div>
</div>

<!-- Optional JavaScript -->
<script>
    document.body.className = 'fade';
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        document.body.className = '';
    });
</script>
<script src="/smoothscoll.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<!--datepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
<!--timepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $('#timepicker').timepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
<% include ../../../partials/footer %>